RewriteEngine on
RewriteCond $1 !^(index\.php|assets|aset|images|js|css|uploads|favicon.png|petunjuk_penggunaan)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]